.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:0.4fr 3fr;
  grid-template-areas: 
  "header header" 
  "sidebar content";
  margin-top: 10px;
}

.header {
  grid-area: header; 
  width: 100%;
  height: auto;
}

/* .containseccond{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
} */

.sidebar {
  grid-area: sidebar; /* Refers to the sidebar area */
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.content {
  grid-area: content; /* Refers to the content area */
  display: flex;
  border: 1px solid rgb(255, 0, 0);
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
